.weather {
  margin-top: -15px;
  text-align: right;
  color: #fff;
}

.weather__forecast {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.weather__icon {
  display: flex;
  font-size: 25px;
  color: #fff;

  img {
    width: 45px;
  }
}

.weather__location {
  font-size: 14px;
}
